.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */
.heading {
  color: #326a9d;
  font-family: 'Roboto';
}
.description {
  color: #64748b;
  font-family: 'Roboto';
}
.button {
  color: #326a9d;
  border-color: #326a9d;
  background-color: #ffffff;
  font-family: 'Roboto';
}
.card-container {
  margin: 20px;
  border: 1px solid #cbced2;
  border-radius: 5px;
  height: 200px;
  list-style-type: none;
}
.card {
  margin: 20px;
}
